# LLM
GROQ_API_KEY=your_groq_api_key_here
LLM_MODEL=llama-3.3-70b-versatile

# Vector DB
QDRANT_URL=http://qdrant:6333
COLLECTION_NAME=research

# Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

# Web Search
TAVILY_API_KEY=your_tavily_api_key_here

MCP_URL=http://localhost:8001/sse
